<div class="section-wrapper bg-secondary text-light">
    <section class="text-center">
        <h2>Welcome {{username}}!</h2>
        <a class="dashboard-link h3" href="/add/pet">Create New Pet</a>
    </section>


    {{#if pets.length}}
    
    <section>
        <h2>Pets belonging to {{username}}:</h2>
        <table class="table table-dark table-striped">
        
            {{#each pets as |pet|}}
            <div class="row pet-wrapper">
                <h4 class="col-2">Name: {{pet.name}}</h4>
                <p class="col-2">Species: {{pet.species}}</p>
                {{#if pet.reported_location}}
                <p class="col-2">Last Known Location: {{pet.reported_location}}</p>
                {{else}}
                <p class="col-2">Location Unknown</p>
                {{/if}}
                <p class="col-2">Date Created: {{format_date pet.created_at}}</p>
                <a class="col-2 dashboard-link" href="/dashboard/edit/{{pet.id}}">Edit</a>
                <a class="col-2 dashboard-link" href="/pet/{{pet.id}}">Pet Details</a>
            </div>
            {{/each}}
    </section>
    </table>
    {{/if}}
</div>