<article class="homepage">
    <div class="homepage">
        <h1>Lets Get Your Lost Pet Home!</h1>
    </div>
    <div class="login">
        <h3>
        <input type="text" name="username" required />
        <input type="text" name="password" required />
        <button type="submit">login</button>
        <input type="text" name="create-login" required />
        <button type="submit">create profile</button>
        </h3>
    </div>
    <div class="lost-pets">
        <h2>
        <p class="pet-image">Recently Lost:</p>
        {{#if pet.image_path}}
        <img src="{{pet.image_path}}">
        {{!-- <img src="/uploads\\29d73559a965aa01888979c97b85c9e7"> --}}
        {{else}}
        <p>No Image was provided for this pet.</p>
        {{/if}}
        </h2>
    </div>
    <div class="reunited-pets">
        <h2>
        <p class="pet-image">Reunited Pets:</p>
        {{#if pet.image_path}}
        <img src="{{pet.image_path}}">
        {{!-- <img src="/uploads\\29d73559a965aa01888979c97b85c9e7"> --}}
        {{else}}
        <p>No Image was provided for this pet.</p>
        {{/if}}
    </div>
</article>
{{else}}
<h2>You are not logged in!</h2>
<a href="/login">Login</a>
{{/if}}