{{#if loggedIn}}
<article class = "homepage">
    <div class="homepage">
      <h2>Lets Get Your Lost Pet Home!</h2>  
    </div>
    <div class="pet-details">
        <p>Recently Lost:</p>
        <p>Reunited Pets:</p>
    </div>
    <div class="pet-image">
        {{#if pet.image_path}}
        <img src="{{pet.image_path}}">
        {{!-- <img src="/uploads\\29d73559a965aa01888979c97b85c9e7"> --}}
        {{else}}
        <p>No Image was provided for this pet.</p>
        {{/if}}
    </div>
</article>
<article class="owner">
    <div class="owner-header">
        <h2>Owner information</h2>
    </div>
    <div class="owner-details">
    <h3>User Name: {{pet.user.username}}</h3>
    <p>Email: {{pet.user.email}}</p>
    <p>Preferred Contact Method: {{pet.user.contactMethod}}</p>        
    </div>
</article>
{{else}}
<h2>You are not logged in!</h2>
<a href = "/login">Login</a>
{{/if}}