<article class="homepage">

    {{#if loggedIn}}
    {{else}}
    {{> signup }}
    {{/if}}
    {{#if loggedIn}}
    <div class="row">
        <form class="filter-wrapper bg-dark col-lg-3 col-sm-12 text-light">
            <h2 class="p-2">Search Filter:</h2>
            <div class="status-wrapper row p-2">
                <label class="col-4">Status: </label>
                <select class="col-8 status" name="status" id="status">
                    <option selected value=""> -- select an option -- </option>
                    <option value="lost">Lost</option>
                    <option value="found">Found</option>
                </select>
            </div>
            <div class="name-wrapper row p-2">
                <label class="col-4">Name: </label>
                <input class="col-8 name" type="text" name="name" />
            </div>
            <div class="species-wrapper row p-2">
                <label class="col-4">Species: </label>
                <input class="col-8 species" type="text" name="species" />
            </div>
            <div class="breed-wrapper row p-2">
                <label class="col-4">Breed: </label>
                <input class="col-8 breed" type="text" name="breed" />
            </div>
            <div class="gender-wrapper row p-2">
                <label class="col-4">Gender: </label>
                <select class="col-8 gender" name="gender" id="gender">
                    <option selected value=""> -- select an option -- </option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                </select>
            </div>
            <div class="age-wrapper row p-2">
                <label class="col-4">Age: </label>
                <input class="col-8 age" type="number" min="0" name="age" />
            </div>
            <div class="color-wrapper row p-2">
                <label class="col-4">Color: </label>
                <select class="col-8 color" name="colors" id="colors">
                    <option selected value=""> -- select an option -- </option>
                    <option value="white">White</option>
                    <option value="black">Black</option>
                    <option value="grey">Grey</option>
                    <option value="brown">Brown</option>
                    <option value="red">Red</option>
                    <option value="pink">Pink</option>
                    <option value="orange">Orange</option>
                    <option value="yellow">Yellow</option>
                    <option value="green">Green</option>
                    <option value="blue">Blue</option>
                    <option value="purple">purple</option>
                </select>
            </div>
            <div class="username-wrapper row p-2">
                <label class="col-4">Username: </label>
                <input class="col-8 username" type="text" name="username" />
            </div>
            <div class="row p-2">
                <button class="clear-btn m-2">Clear</button>
                <button class="search-btn m-2">Search</button>
            </div>
        </form>
    </div>

    <div class="col-lg-9 col-sm-12">
        <div class="homepage">
            <h1>Lets Get Your Lost Pet Home!</h1>
        </div>
        <div class="lost-pets">
            <h2 class="pet-image">All Pets:</h2>
            {{#each pets as |pet| }}
            <ol>
                <li>
                    <h3>Name: {{pet.name}}</h3>
                    <p>Species: {{pet.species}}</p>
                    <p>Breed: {{pet.breed}}</p>
                    <p>Gender: {{pet.gender}}</p>
                    <p>Age: {{pet.age}}</p>
                </li>
            </ol>
            {{/each}}
        </div>
    </div>
    {{/if}}
</article>
{{#if loggedIn}}
<script src="/javascript/filter.js"></script>
{{/if}}